@import "../../config/colors.scss";

.topBar {
  width: 100%;
  height: 70px;
  background-color: $color-black-bg;
  color: $color-cyan-neon;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 10px solid #00cffa;
  @include tablet {
    justify-content: space-between;
    height: 90px;
  }

  .topLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablet {
      margin-left: 20px;
    }
    .logoImg {
      color: $color-white;
      font-size: 2em;
      letter-spacing: 4px;
      text-align: center;
      text-shadow: $color-magenta-neon 0px 0px 5px,
        $color-magenta-neon 0px 0px 10px, $color-magenta-neon 0px 0px 15px,
        $color-magenta-neon 0px 0px 20px, $color-magenta-neon 0px 0px 30px,
        $color-magenta-neon 0px 0px 40px, $color-magenta-neon 0px 0px 50px,
        $color-magenta-neon 0px 0px 75px;
    }
  }

  .topCenter {
    display: flex;
    justify-content: center;
    align-items: center;

    .topCenterSearch {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      .itemLink {
        color: $color-white;
        font-size: 2em;
        margin: 0px 20px;
        color: $color-white;
        text-shadow: $color-yellow-neon 0px 0px 5px,
          $color-yellow-neon 0px 0px 10px, $color-yellow-neon 0px 0px 15px,
          $color-yellow-neon 0px 0px 20px, $color-yellow-neon 0px 0px 30px,
          $color-yellow-neon 0px 0px 40px, $color-yellow-neon 0px 0px 50px,
          $color-yellow-neon 0px 0px 75px;
        letter-spacing: 2px;
      }
    }
  }
}
